$pinkColor: rgb(255,17,130);
$yellowColor: rgb(255,255,3);
$turqoisColor: rgb(3,207,153);

@import "partials/normalize";
@import "partials/animations";


body {
  font-family: 'Roboto', sans-serif;
}
header {
  margin:0;
}
#wrapper {
  position: relative;
  display: inline-block;
  width:100%;
  font-size:100%;
  display: inline-block;
}
img {
  width:100%;
}
h1 {
  position:absolute;
  top:0;
  font-style:italic;
  font-size:3.5em;
}
h3 {
  position:absolute;
  top:0;
  font-style:italic;
  font-size:1.5em;
  right:0;
}
.feature {
  position:absolute;
  background-position: center;
  background-size:cover;
  z-index:2;
  height:20%;
}
.questionMark {
  height:14%;
  width:3.7%;
  background-image: url("../img/znakzapytania.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index:2;
  position:absolute;
}
.creative {
  left:20%;
  top:21%;
  width:12%;
  background-image: url("../img/kreatywna.png");
}
.motivated {
  top:40%;
  left:7%;
  width:13.5%;
  background-image: url("../img/zmotywowana.png");
}
.consistant {
  top:65%;
  left:23%;
  width:13.5%;
  background-image: url("../img/konsekwentna.png");
}
.self-reliant {
  top:20%;
  left:72%;
  width:12.5%;
  background-image: url("../img/samodzielna.png");
}
.responsible {
  top:46%;
  left:83%;
  width:15%;
  background-image: url("../img/odpowiedzialna.png");
}
.disciplined {
  top:75%;
  left:71%;
  height:21%;
  width:16%;
  background-image: url("../img/zdyscyplinowana.png");
}
.one {
    left:24%;
    top:25%;
}
.two {
  top:40%;
  left:7%;
}
.three {
  top:65%;
  left:26%;
}
.four {
  top:20%;
  left:72%;
}
.five {
  top:46%;
  left:87%;
}
.six {
  top:76%;
  left:76%;
}
.hidden {
  display:none;
}
.navigation {
  position:relative;
  top:-25px;
  display:flex;
  justify-content: space-around;
  height:40px;
  width:100%;
  background-color:#000;
  margin:0;
  padding:0;
  list-style-type: none;
    & a {
      flex: 1 1 100%;
    flex-direction: row;
    text-align: center;
    padding:12px 0;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      align-self: center;
      color:#000;
    }
}
